In [10]:
import pandas as pd
import numpy as np

In [29]:
PATH = "C:\\Users\\User\\Desktop\\blob_storage\\fuel_ampol\\TransactionList.xls"
# pd.read_excel(PATH, engine="xlrd")
df = pd.read_html(PATH, converters={'Card Number' : int, 'Trans. Ref' : int})[0]

In [30]:
df

,Account,Card Number,Registration,Driver Name,Trans. Type,Location,Trans. Ref,Trans. Date,Post Date,Amount,Amount Ex GST,Location Name
0,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,22302,51420,30/06/2021,01/07/2021,$21.92,$19.93,AMPOL WOOLWORTHS METRO REVESBY
1,600851334,7071340091663061,NaN,SYDNEY WASTE,Purchase,22285,57487,30/06/2021,01/07/2021,$24.33,$22.12,AMPOL FOODARY WENTWORTHVILLE
2,600851334,7071340092560449,NaN,SYDNEY WASTE,Purchase,22686,530,30/06/2021,01/07/2021,$100.72,$91.56,AMPOL FOODARY GRANVILLE
3,600851334,7071340093858313,NaN,SYDNEY WASTE,Purchase,22285,57514,01/07/2021,01/07/2021,$204.33,$185.75,AMPOL FOODARY WENTWORTHVILLE
4,600851334,7071340093371952,DYJ57M,STEPHANIE NOMCHONG,Purchase,28413,17949,01/07/2021,01/07/2021,$101.85,$92.59,AMPOL FOODARY WETHERILL PARK
...,...,...,...,...,...,...,...,...,...,...,...,...
245,600851334,7071340093763794,NaN,SYDNEY WASTE,Purchase,22708,73876,18/08/2021,19/08/2021,$85.52,$77.75,AMPOL WOOLWORTHS METRO NORTH RYDE
246,600851334,7071340093858313,NaN,SYDNEY WASTE,Purchase,22362,13440,18/08/2021,19/08/2021,$237.01,$215.46,AMPOL FOODARY CONCORD
247,600851334,7071340092810406,CMA 32H,SIMON ZIZER,Purchase,29239,142829,19/08/2021,19/08/2021,$42.82,$38.93,EG FUELCO 91591 NTH LIVERPOOL
248,600851334,7071340094111407,SYDNEY WAS,SYDNEY WASTE,Purchase,28781,175996,19/08/2021,19/08/2021,$89.61,$81.46,AMPOL FOODARY RYDALMERE
249,600851334,7071340091771773,NaN,SYDNEY WASTE,Purchase,29281,96728,19/08/2021,19/08/2021,$87.75,$79.77,EG FUELCO 91769 BURWOOD

In [28]:
df.columns

Index(['Account', 'Card Number', 'Registration', 'Driver Name', 'Trans. Type',
       'Location', 'Trans. Ref', 'Trans. Date', 'Post Date', 'Amount',
       'Amount Ex GST', 'Location Name'],
      dtype='object')