In [1]:
import pandas as pd
import numpy as np

In [11]:
PATH = "C:\\Users\\User\\Desktop\\blob_storage\\fuel_we\\RouteSummariesDetail_011121_31372220.xlsx"
df = pd.read_excel(PATH)
# df.RouteDate = pd.to_datetime(df.RouteDate, format="%d/%m/%y")

In [12]:
df

,RouteNumber,RouteDate,RouteDescription,TruckNumber,Driver,StartTime,EndTime,NormalLabourHrs,OverTimeLabourHrs,LabourCostOverTime2,...,FuelCost,TipCharges,BookingCharges,AdditionalCharges,TotalRevenue,GrossMarigin,Distance,TotalCost,Branch,ServCode
0,RED-4,01/09/16,RED-4,RED,NaN,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
1,RL4-4,01/09/16,RL4-4,RL4,Johnny Ruhr,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
2,RL5-4,01/09/16,RL5-4,RL5,NaN,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
3,RL9-4,01/09/16,RL9-4,RL9,NaN,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
4,RLD-4,01/09/16,RLD-4,RLD,NaN,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63039,SWG-1,01/11/21,SWG-1,XN72MK,Ben Edwards,02:45:21,NaN,0.0,0,0,...,0.0,0.0,1913.89,0.0,1913.89,1913.89,-2,0.0,NaN,RL
63040,UOSGW-1,01/11/21,Sydney Uni GW Monday Run,XN76VB,Nathan Bracey,04:22:30,NaN,0.0,0,0,...,0.0,0.0,2098.60,0.0,2098.60,2098.60,-2,0.0,NaN,RL
63041,VEO-1,01/11/21,VEO-1,VEO,Veolia,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
63042,VEOACT-1,01/11/21,Veolia ACT,SUB,Subcontractor,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL
63043,VTG-1,01/11/21,VTG,SUB,Subcontractor,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.0,NaN,RL

In [9]:
df[df.RouteDate.between('20210901', '20211101')]

,RouteNumber,RouteDate,RouteDescription,TruckNumber,Driver,StartTime,EndTime,NormalLabourHrs,OverTimeLabourHrs,LabourCostOverTime2,...,FuelCost,TipCharges,BookingCharges,AdditionalCharges,TotalRevenue,GrossMarigin,Distance,TotalCost,Branch,ServCode
60480,ALLMED-3,2021-09-01,ALLMED-3,ALLMED,Subcontractor,NaN,NaN,0.0,0,0,...,0.0,0.0,126.84,0.0,126.84,126.84,0,0.00,NaN,RL
60481,AUSSKIP-3,2021-09-01,AUSSKIP-3,0,Subcontractor,NaN,NaN,0.0,0,0,...,0.0,0.0,244.12,0.0,244.12,244.12,0,0.00,NaN,FL
60482,BIN-3,2021-09-01,BIN-3,CV50EC,Bin Delivery,09:05:06,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,-2,0.00,NaN,RL
60483,BR1-3,2021-09-01,BR1-3,XN75OS,Andrew Peterson,23:04:53,NaN,0.0,0,0,...,0.0,0.0,1313.00,0.0,1313.00,1311.72,-2,1.28,NaN,RL
60484,BR2-3,2021-09-01,BR2-3,CJ65PS,Paul Nevin,16:54:32,01:30:25,8.6,0,0,...,42.0,0.0,1823.23,0.0,1823.23,1778.35,0,44.88,NaN,RL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63039,SWG-1,2021-11-01,SWG-1,XN72MK,Ben Edwards,02:45:21,NaN,0.0,0,0,...,0.0,0.0,1913.89,0.0,1913.89,1913.89,-2,0.00,NaN,RL
63040,UOSGW-1,2021-11-01,Sydney Uni GW Monday Run,XN76VB,Nathan Bracey,04:22:30,NaN,0.0,0,0,...,0.0,0.0,2098.60,0.0,2098.60,2098.60,-2,0.00,NaN,RL
63041,VEO-1,2021-11-01,VEO-1,VEO,Veolia,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.00,NaN,RL
63042,VEOACT-1,2021-11-01,Veolia ACT,SUB,Subcontractor,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.00,NaN,RL
63043,VTG-1,2021-11-01,VTG,SUB,Subcontractor,NaN,NaN,0.0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0,0.00,NaN,RL